.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 0 48px;
  position: absolute;
  z-index: 0;
  text-decoration: none;
  color: #2f80ed;
  padding: 0;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: 0.3s;
}
